/* Kod ifrån https://css-generators.com/wavy-shapes/ */
.box-wavy-bottom {
  --mask:
    radial-gradient(24.38px at 50% calc(100% - 34.4px),#000 99%,#0000 101%) calc(50% - 32px) 0/64px 100%,
    radial-gradient(24.38px at 50% calc(100% + 18.4px),#0000 99%,#000 101%) 50% calc(100% - 16px)/64px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}